/data/.*
/data/**/
/bootnode
/data/genesis.ssz
/data/network-keys
/.idea/modules.xml
/.idea/markdown.xml
/config/direct/validator.db
/.idea/vcs.xml
/config/direct/accounts/all-accounts.keystore.json
/config/bnode.key
/config/validator_keys/deposit_data-1700294788.json
/.idea/dou-smart-chain.iml
/config/enode.key
/config/validator_keys/.*
/config/validator_keys/
/config/direct/
/config/keystore_ignore/
