/data/.*
/data/geth/nodes/000002.ldb
/data/geth/lightchaindata/000002.log
/data/geth/nodes/000005.ldb
/data/geth/nodes/000008.ldb
/data/geth/nodes/000009.log
/data/geth/chaindata/000023.sst
/data/geth/chaindata/000024.sst
/data/geth/chaindata/000025.log
/data/geth/chaindata/000028.log
/data/beaconchaindata/beaconchain.db
/data/geth/blobpool/limbo/bkt_00004096.bag
/data/geth/blobpool/queue/bkt_00004096.bag
/data/geth/blobpool/limbo/bkt_00135168.bag
/data/geth/blobpool/queue/bkt_00135168.bag
/data/geth/blobpool/limbo/bkt_00266240.bag
/data/geth/blobpool/queue/bkt_00266240.bag
/data/geth/blobpool/limbo/bkt_00397312.bag
/data/geth/blobpool/queue/bkt_00397312.bag
/data/geth/blobpool/limbo/bkt_00528384.bag
/data/geth/blobpool/queue/bkt_00528384.bag
/data/geth/blobpool/limbo/bkt_00659456.bag
/data/geth/blobpool/queue/bkt_00659456.bag
/data/geth/blobpool/limbo/bkt_00790528.bag
/data/geth/blobpool/queue/bkt_00790528.bag
/data/geth/blobpool/limbo/bkt_00921600.bag
/data/geth/blobpool/queue/bkt_00921600.bag
/data/geth/blobpool/limbo/bkt_01052672.bag
/data/geth/blobpool/queue/bkt_01052672.bag
/data/geth/blobpool/limbo/bkt_01183744.bag
/data/geth/blobpool/queue/bkt_01183744.bag
/data/geth/blobpool/limbo/bkt_01314816.bag
/data/geth/blobpool/queue/bkt_01314816.bag
/data/geth/blobpool/limbo/bkt_01445888.bag
/data/geth/blobpool/queue/bkt_01445888.bag
/data/geth/blobpool/limbo/bkt_01576960.bag
/data/geth/blobpool/queue/bkt_01576960.bag
/data/geth/blobpool/limbo/bkt_01708032.bag
/data/geth/blobpool/queue/bkt_01708032.bag
/data/geth/blobpool/limbo/bkt_01839104.bag
/data/geth/blobpool/queue/bkt_01839104.bag
/data/geth/chaindata/ancient/chain/bodies.0000.cdat
/data/geth/lightchaindata/ancient/chain/bodies.0000.cdat
/data/geth/chaindata/ancient/chain/bodies.cidx
/data/geth/lightchaindata/ancient/chain/bodies.cidx
/data/geth/chaindata/ancient/chain/bodies.meta
/data/geth/lightchaindata/ancient/chain/bodies.meta
/data/geth/chaindata/CURRENT
/data/geth/lightchaindata/CURRENT
/data/geth/nodes/CURRENT
/data/geth/nodes/CURRENT.bak
/data/geth/chaindata/ancient/chain/diffs.0000.rdat
/data/geth/lightchaindata/ancient/chain/diffs.0000.rdat
/data/geth/chaindata/ancient/chain/diffs.meta
/data/geth/lightchaindata/ancient/chain/diffs.meta
/data/geth/chaindata/ancient/chain/diffs.ridx
/data/geth/lightchaindata/ancient/chain/diffs.ridx
/.idea/dou-smart-chain.iml
/data/geth/chaindata/ancient/chain/FLOCK
/data/geth/lightchaindata/ancient/chain/FLOCK
/data/geth/chaindata/ancient/chain/hashes.0000.rdat
/data/geth/lightchaindata/ancient/chain/hashes.0000.rdat
/data/geth/chaindata/ancient/chain/hashes.meta
/data/geth/lightchaindata/ancient/chain/hashes.meta
/data/geth/chaindata/ancient/chain/hashes.ridx
/data/geth/lightchaindata/ancient/chain/hashes.ridx
/data/geth/chaindata/ancient/chain/headers.0000.cdat
/data/geth/lightchaindata/ancient/chain/headers.0000.cdat
/data/geth/chaindata/ancient/chain/headers.cidx
/data/geth/lightchaindata/ancient/chain/headers.cidx
/data/geth/chaindata/ancient/chain/headers.meta
/data/geth/lightchaindata/ancient/chain/headers.meta
/data/geth/chaindata/LOCK
/data/geth/lightchaindata/LOCK
/data/geth/nodes/LOCK
/data/geth/LOCK
/data/geth/nodes/LOG
/data/geth/lightchaindata/MANIFEST-000001
/data/geth/nodes/MANIFEST-000010
/data/geth/chaindata/MANIFEST-000021
/data/geth/chaindata/MANIFEST-000026
/.idea/markdown.xml
/.idea/modules.xml
/data/geth/nodekey
/data/geth/lightchaindata/OPTIONS-000003
/data/geth/chaindata/OPTIONS-000027
/data/geth/chaindata/ancient/chain/receipts.0000.cdat
/data/geth/lightchaindata/ancient/chain/receipts.0000.cdat
/data/geth/chaindata/ancient/chain/receipts.cidx
/data/geth/lightchaindata/ancient/chain/receipts.cidx
/data/geth/chaindata/ancient/chain/receipts.meta
/data/geth/lightchaindata/ancient/chain/receipts.meta
/data/geth/transactions.rlp
/.idea/vcs.xml
